html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #1F2937;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
footer {
    margin-top: auto;
    background-color: #1F2937;
    color: white;
}
